<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Komm vorbei & finde deine Balance</span>
      <h2 class="cs-title">Dein Weg zu mehr Ruhe, Kraft & Klarheit</h2>
      <p class="cs-text">
        Egal, ob du einen Ort zum Abschalten suchst oder tief in deine Praxis
        eintauchen möchtest – wir freuen uns, dich in unserem Studio willkommen
        zu heißen. Buche deine erste Stunde und erlebe, wie gut es tut, sich
        selbst Zeit zu schenken.
      </p>
      <a href="#kontakt" class="cs-button-solid">Jetzt ausprobieren</a>
    </div>
  </div>
  <!-- Background Image-->
  <picture class="cs-picture">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/yoga-12.jpg" | resize({ width: 640 , height: 808 }) | avif
    %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/yoga-12.jpg" | resize({ width: 640 , height: 808 }) | webp
    %}" type="image/webp"> <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/yoga-12.jpg" | resize({ width: 640 , height: 808 }) | jpeg
    %}" type="image/jpeg">
    <!--Tablet Image-->
    <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/yoga-12.jpg" | resize({ width: 2046 , height: 766 }) | avif
    %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/yoga-12.jpg" | resize({ width: 2046 , height: 766 }) | webp
    %}" type="image/webp"> <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/yoga-12.jpg" | resize({ width: 2046 , height: 766 }) | jpeg
    %}" type="image/jpeg">
    <!--Desktop Image-->
    <source media="(min-width: 1024px)" srcset="{% getUrl
    "/assets/images/yoga-12.jpg" | resize({ width: 2880 , height: 868 }) | avif
    %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{% getUrl
    "/assets/images/yoga-12.jpg" | resize({ width: 2880 , height: 868 }) | webp
    %}" type="image/webp"> <source media="(min-width: 1024px)" srcset="{% getUrl
    "/assets/images/yoga-12.jpg" | resize({ width: 2880 , height: 868 }) | jpeg
    %}" type="image/jpeg"> <img src="{% getUrl "/assets/images/yoga-12.jpg" |
    resize({ width: 2880 , height: 868 }) | jpeg %}" alt="yoga-12" width="2880"
    height="868" loading="lazy" decoding="async" aria-hidden="true">
  </picture>
</section>
