<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1761">
  <div class="cs-container" id="kontakt">
    <!-- Logo Group -->
    <div class="cs-logo-group">
      <h2 class="cs-title">Soul <br />Sanctuary</h2>
      <span class="cs-text">Dein Rückzugsort für Körper, Geist und Seele </span>
    </div>
    <div class="cs-ul-wrapper">
      <!-- Contact Info -->
      <img
        class="cs-logo"
        src="/assets/images/soul-sanctuary-logo.png"
        alt="logo"
        loading="lazy"
        decoding="async"
        height="48"
        width="217"
      />
      <p class="cs-text">
        Willkommen in deiner Oase der Ruhe. Unser Studio ist ein Ort der
        Geborgenheit, der dich einlädt, tief durchzuatmen und in deine Praxis
        einzutauchen. Mit warmem Licht, natürlichen Materialien und einer
        liebevollen Atmosphäre schaffen wir einen Raum, in dem du dich
        wohlfühlst.
      </p>
      <ul class="cs-ul cs-ul-contact">
        <li class="cs-li">
          <span class="cs-topper">Ruf uns gerne an</span>
          <a class="cs-contact" href="">123456789</a>
        </li>
        <li class="cs-li">
          <span class="cs-topper">Komm gerne bei uns vorbei</span>
          <a class="cs-contact" href=""
            >Musterstraße 13<br />12345 Musterstadt</a
          >
        </li>
      </ul>
    </div>
    <!-- Links -->
    <div class="cs-ul-wrapper">
      <span class="cs-header">Links</span>
      <ul class="cs-ul">
        <li class="cs-li">
          <a class="cs-link" href="">Home</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">Über uns</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">Stundenplan</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">Unser Team</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">Preise</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="cs-bottom">
    <span class="cs-credit"> © 2025 Soul Sanctuary </span>
    <div class="cs-bottom-links">
      <a
        href="https:www.currentsofcontent.com"
        class="cs-bottom-link"
        target="_blank"
        >Webdesign by Currents of Content</a
      >
      <a href="" class="cs-bottom-link">Impressum & Datenschutz</a>
    </div>
  </div>
</footer>
