<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-107">
  <div class="cs-container">
    <ul class="cs-ul">
      <li class="cs-li cs-copyright">
        © 2025 | Webdesign by
        <a href="www.currentsofcontent.com">Currents of Content</a>
      </li>
      <li class="cs-li">
        <a href="/" class="cs-link">Willkommen</a>
      </li>
      <li class="cs-li">
        <a href="#team" class="cs-link">Das Team</a>
      </li>
      <li class="cs-li">
        <a href="#details" class="cs-link">Details</a>
      </li>
      <li class="cs-li">
        <a href="#kontakt" class="cs-link">Kontakt</a>
      </li>
    </ul>
  </div>
</footer>
