---
title: "Datenschutz | FemCircle Stuttgart"
description: "Datenschutz und Impressum"
preloadImg: "/assets/images/logo.png"
permalink: "datenschutz/"
eleventyNavigation:
  key: Datenschutz
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/datenschutz.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <picture class="cs-picture">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="{% getUrl
    "/assets/images/hintergrund.png" | resize({ width: 320 , height: 150 }) |
    avif %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{%
    getUrl "/assets/images/hintergrund.png" | resize({ width: 320 , height: 150
    }) | webp %}" type="image/webp"> <source media="(max-width: 600px)"
    srcset="{% getUrl "/assets/images/hintergrund.png" | resize({ width: 320 ,
    height: 150 }) | jpeg %}" type="image/jpeg">
    <!--Tablet Image-->
    <source media="(max-width: 1024px)" srcset="{% getUrl
    "/assets/images/hintergrund.png" | resize({ width: 2046 , height: 200 }) |
    avif %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{%
    getUrl "/assets/images/hintergrund.png" | resize({ width: 2046 , height: 200
    }) | webp %}" type="image/webp"> <source media="(max-width: 1024px)"
    srcset="{% getUrl "/assets/images/hintergrund.png" | resize({ width: 2046 ,
    height: 200 }) | jpeg %}" type="image/jpeg">
    <!--Desktop Image-->
    <source media="(min-width: 1024px)" srcset="{% getUrl
    "/assets/images/hintergrund.png" | resize({ width: 3840 , height: 400 }) |
    avif %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{%
    getUrl "/assets/images/hintergrund.png" | resize({ width: 3840 , height: 400
    }) | webp %}" type="image/webp"> <source media="(min-width: 1024px)"
    srcset="{% getUrl "/assets/images/hintergrund.png" | resize({ width: 3840 ,
    height: 400 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
    "/assets/images/hintergrund.png" | resize({ width: 3840 , height: 400 }) |
    jpeg %}" alt="waves" width="" height="" loading="lazy" decoding="async"
    aria-hidden="true">
  </picture>
</section>

<!-- ============================================ -->
<!--                   Datenschutz                -->
<!-- ============================================ -->

<section id="content-page-713">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">Impressum</h1>
      <p>Susanne Stenglein & Kathrin Flörl-Korb GbR</p>
      <p>Bismarckstr. 46</p>
      <p>70197 Stuttgart</p>

      <h2 id="m56">Kontaktmöglichkeiten</h2>
      <p>
        E-Mail-Adresse:
        <a href="mailto:hello@femcircle.de">hello@femcircle.de</a>
      </p>
    </div>
  </div>
</section>

<section id="content-page-713">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">EU-Streitschlichtung</h1>
      <p class="cs-text">
        Die Europäische Kommission stellt eine Plattform zur
        Online-Streitbeilegung (OS) bereit: https://ec.europa.eu/consumers/odr.
        Unsere E-Mail-Adresse finden Sie oben im Impressum.
        Verbraucherstreitbeilegung/Universalschlichtungsstelle Wir sind nicht
        bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer
        Verbraucherschlichtungsstelle teilzunehmen.
      </p>

      <h1 class="cs-title">Haftung für Inhalte</h1>
      <p class="cs-text">
        Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf
        diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8
        bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet,
        übermittelte oder gespeicherte fremde Informationen zu überwachen oder
        nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit
        hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
        Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt.
        Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
        Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von
        entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
        entfernen.
      </p>

      <h1 class="cs-title">Haftung für Links</h1>
      <p class="cs-text">
        Unser Angebot enthält Links zu externen Websites Dritter, auf deren
        Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden
        Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
        Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
        verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
        Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte
        waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
        inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
        Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden
        von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
      </p>

      <h1 class="cs-title">Urheberrecht</h1>
      <p class="cs-text">
        Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen
        Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung,
        Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
        Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des
        jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite
        sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
        Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden,
        werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte
        Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
        Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
        entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden
        wir derartige Inhalte umgehend entfernen.
      </p>

      <h1 class="cs-title">Datenschutz</h1>
      <p class="cs-text">
        Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten
        sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und
        entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
        Datenschutzerklärung. Die Nutzung unserer Webseite ist in der Regel ohne
        Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten
        personenbezogene Daten (beispielsweise Name, Anschrift oder
        E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf
        freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche
        Zustimmung nicht an Dritte weitergegeben. Wir weisen darauf hin, dass
        die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
        Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor
        dem Zugriff durch Dritte ist nicht möglich.
      </p>

      <h1 class="cs-title">
        Datenschutzerklärung für die Nutzung von etracker
      </h1>
      <p class="cs-text">
        Unsere Webseite nutzt den Analysedienst etracker. Anbieter ist die
        etracker GmbH, Erste Brunnenstraße 1 20459 Hamburg Germany. Aus den
        Daten können unter einem Pseudonym Nutzungsprofile erstellt werden. Dazu
        können Cookies eingesetzt werden. Bei Cookies handelt es sich um kleine
        Textdateien, die lokal im Zwischenspeicher Ihres Internet-Browsers
        gespeichert werden. Die Cookies ermöglichen es, Ihren Browser wieder zu
        erkennen. Die mit den etracker-Technologien erhobenen Daten werden ohne
        die gesondert erteilte Zustimmung des Betroffenen nicht genutzt,
        Besucher unserer Website persönlich zu identifizieren und werden nicht
        mit personenbezogenen Daten über den Träger des Pseudonyms
        zusammengeführt. Der Datenerhebung und -speicherung können Sie jederzeit
        mit Wirkung für die Zukunft widersprechen. Um einer Datenerhebung und
        -speicherung Ihrer Besucherdaten für die Zukunft zu widersprechen,
        können Sie unter nachfolgendem Link ein Opt-Out-Cookie von etracker
        beziehen, dieser bewirkt, dass zukünftig keine Besucherdaten Ihres
        Browsers bei etracker erhoben und gespeichert werden:
        http://www.etracker.de/privacy?et=V23Jbb Dadurch wird ein Opt-Out-Cookie
        mit dem Namen „cntcookie“ von etracker gesetzt. Bitte löschen Sie diesen
        Cookie nicht, solange Sie Ihren Widerspruch aufrecht erhalten möchten.
        Weitere Informationen finden Sie in den Datenschutzbestimmungen von
        etracker:http://www.etracker.com/de/datenschutz.html
      </p>

      <h1 class="cs-title">
        Datenschutzerklärung für die Nutzung von Facebook-Plugins (Like-Button)
      </h1>
      <p class="cs-text">
        Auf unseren Seiten sind Plugins des sozialen Netzwerks Facebook,
        Anbieter Facebook Inc., 1 Hacker Way, Menlo Park, California 94025, USA,
        integriert. Die Facebook-Plugins erkennen Sie an dem Facebook-Logo oder
        dem „Like-Button“ („Gefällt mir“) auf unserer Seite. Eine Übersicht über
        die Facebook-Plugins finden Sie hier:
        http://developers.facebook.com/docs/plugins/. Wenn Sie unsere Seiten
        besuchen, wird über das Plugin eine direkte Verbindung zwischen Ihrem
        Browser und dem Facebook-Server hergestellt. Facebook erhält dadurch die
        Information, dass Sie mit Ihrer IP-Adresse unsere Seite besucht haben.
        Wenn Sie den Facebook „Like-Button“ anklicken während Sie in Ihrem
        Facebook-Account eingeloggt sind, können Sie die Inhalte unserer Seiten
        auf Ihrem Facebook-Profil verlinken. Dadurch kann Facebook den Besuch
        unserer Seiten Ihrem Benutzerkonto zuordnen. Wir weisen darauf hin, dass
        wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten
        Daten sowie deren Nutzung durch Facebook erhalten. Weitere Informationen
        hierzu finden Sie in der Datenschutzerklärung von Facebook unter
        http://de-de.facebook.com/policy.php. Wenn Sie nicht wünschen, dass
        Facebook den Besuch unserer Seiten Ihrem Facebook- Nutzerkonto zuordnen
        kann, loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.
      </p>

      <h1 class="cs-title">
        Datenschutzerklärung für die Nutzung von Google Analytics
      </h1>
      <p class="cs-text">
        Diese Website nutzt Funktionen des Webanalysedienstes Google Analytics.
        Anbieter ist die Google Inc. 1600 Amphitheatre Parkway Mountain View, CA
        94043, USA. Google Analytics verwendet sog. „Cookies“. Das sind
        Textdateien, die auf Ihrem Computer gespeichert werden und die eine
        Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den
        Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden
        in der Regel an einen Server von Google in den USA übertragen und dort
        gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser
        Webseite wird Ihre IP-Adresse von Google jedoch innerhalb von
        Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten
        des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur
        in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google
        in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser
        Website wird Google diese Informationen benutzen, um Ihre Nutzung der
        Website auszuwerten, um Reports über die Websiteaktivitäten
        zusammenzustellen und um weitere mit der Websitenutzung und der
        Internetnutzung verbundene Dienstleistungen gegenüber dem
        Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von
        Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von
        Google zusammengeführt. Sie können die Speicherung der Cookies durch
        eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir
        weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls
        nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen
        können. Sie können darüber hinaus die Erfassung der durch das Cookie
        erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer
        IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google
        verhindern, indem sie das unter dem folgenden Link verfügbare
        Browser-Plugin herunterladen und installieren:
        http://tools.google.com/dlpage/gaoptout?hl=de
      </p>
      <p class="cs-text">Quelle: eRecht24</p>
    </div>
  </div>
</section>
{% include 'components/cta.html' %} {% endblock %}
