---
title: "FemCircle Stuttgart"
description: "Der FemCircle Stuttgart bietet dir einen geschützten und vertrauensvollen Raum in einer weiblichen Gemeinschaft. Hier kommen Frauen mit unterschiedlichen Hintergründen und Lebensentwürfen zusammen, um sich auf Augenhöhe zu begegnen und einander zu stärken.  "
preloadImg: "/assets/images/logo.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<!-- JSON Schema Markup -->
<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "{{ client.name }}",
      {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
      {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
      {% if client.email %}"email": "{{ client.email }}",{% endif %}
      {% if client.address %}
          "address": {
              "@type": "PostalAddress"{% if client.address.lineOne %},
                  "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
              {% endif %}
              {% if client.address.city %},
                  "addressLocality": "{{ client.address.city }}"
              {% endif %}
              {% if client.address.state %},
                  "addressRegion": "{{ client.address.state }}"
              {% endif %}
              {% if client.address.zip %},
                  "postalCode": "{{ client.address.zip }}"
              {% endif %}
              {% if client.address.country %},
                  "addressCountry": "{{ client.address.country }}"
              {% endif %}
          },
      {% endif %}
      {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
      {% if client.socials %}
          "sameAs": [{% for platform, url in client.socials %}
                  {% if not loop.first %},{% endif %}
                  "{{ url }}"
              {% endfor %}]
      {% endif %}
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-408">
  <div class="cs-container">
    <div class="cs-content">
      <h2 class="cs-title">
        <span class="cs-color"
          >Herzlich Willkommen beim FemCircle Stuttgart –</span
        >
        schön, dass du hier bist!
      </h2>
      <p class="cs-text">
        Der FemCircle Stuttgart bietet dir einen geschützten und
        vertrauensvollen Raum in einer weiblichen Gemeinschaft. Hier kommen
        Frauen mit unterschiedlichen Hintergründen und Lebensentwürfen zusammen,
        um sich auf Augenhöhe zu begegnen und einander zu stärken.
      </p>
      <p class="cs-text">
        Unser Kreis steht symbolisch für Ganzheit und die Stärke der weiblichen
        Identität. Es geht um Austausch, Balance zwischen Körper, Geist und
        Seele sowie darum, in Verbundenheit gemeinsam Veränderungen zu bewirken.
        Hier findest du einen sicheren Ort, um deine Meinungen, Erfahrungen und
        Visionen zu teilen – ganz gleichwertig und frei.
      </p>
      <a href="#kontakt" class="cs-button-solid">Erfahre hier mehr</a>
    </div>
    <div class="cs-stat-group">
      <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl
        "/assets/images/fem.png" | resize({ width: 608 , height: 654 }) | avif
        %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{%
        getUrl "/assets/images/fem.png" | resize({ width: 608 , height: 654 }) |
        webp %}" type="image/webp"> <source media="(max-width: 600px)"
        srcset="{% getUrl "/assets/images/fem.png" | resize({ width: 608 ,
        height: 654 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl
        "/assets/images/fem.png" | resize({ width: 906 , height: 978 }) | avif
        %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{%
        getUrl "/assets/images/fem.png" | resize({ width: 906 , height: 978 }) |
        webp %}" type="image/webp"> <source media="(max-width: 1024px)"
        srcset="{% getUrl "/assets/images/fem.png" | resize({ width: 906 ,
        height: 978 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl
        "/assets/images/fem.png" | resize({ width: 1382 , height: 1474 }) | avif
        %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{%
        getUrl "/assets/images/fem.png" | resize({ width: 1382 , height: 1474 })
        | webp %}" type="image/webp"> <source media="(min-width: 1024px)"
        srcset="{% getUrl "/assets/images/fem.png" | resize({ width: 1382 ,
        height: 1474 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
        "/assets/images/fem.png" | resize({ width: 1382 , height: 1474 }) | jpeg
        %}" alt="" width="1382" height="1474" loading="lazy" decoding="async"
        aria-hidden="true">
      </picture>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-860">
  <div class="cs-container" id="team">
    <div class="cs-content">
      <div class="cs-flex">
        <span class="cs-topper">Unser Expertinnen Team</span>
        <h2 class="cs-title">Wer steckt hinter FemCircle Stuttgart?</h2>
        <p class="cs-text">
          Wir sind
          <a href="https://susannestenglein.de" target="_blank"
            >Susanne Stenglein</a
          >
          und
          <a
            href="https://www.persoenlichkeitscoaching-stuttgart.de"
            target="_blank"
            >Kathrin Flörl-Korb,</a
          >
          feministische Coachinnen® und die Gründerinnen des FemCircle
          Stuttgart. Mit jahrelanger Erfahrung in Persönlichkeitsentwicklung,
          körperorientierter Arbeit und der Begleitung von Frauen bieten wir dir
          diesen besonderen Raum an. Unsere Praxisgemeinschaft im Stuttgarter
          Westen ist ein Ort, an dem Female Empowerment auf kraft- & liebevolle
          Weise gelebt wird. Uns verbindet nicht nur unsere Arbeit, sondern
          Freundschaft, Schwesternschaft und Lebenserfahrung.
        </p>
      </div>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portrait_susi.jpeg" | resize({ width: 576 , height:
          714 }) | avif %}" type="image/avif"> <source media="(max-width:
          600px)" srcset="{% getUrl "/assets/images/portrait_susi.jpeg" |
          resize({ width: 576 , height: 714 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portrait_susi.jpeg" | resize({ width: 576 , height:
          714 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portrait_susi.jpeg" | resize({ width: 1100 , height:
          814 }) | avif %}" type="image/avif"> <source media="(max-width:
          1024px)" srcset="{% getUrl "/assets/images/portrait_susi.jpeg" |
          resize({ width: 1100 , height: 814 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portrait_susi.jpeg" | resize({ width: 1100 , height:
          814 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portrait_susi.jpeg" | resize({ width: 610 , height:
          814 }) | avif %}" type="image/avif"> <source media="(min-width:
          1024px)" srcset="{% getUrl "/assets/images/portrait_susi.jpeg" |
          resize({ width: 610 , height: 814 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portrait_susi.jpeg" | resize({ width: 610 , height:
          814 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
          "/assets/images/portrait_susi.jpeg" | resize({ width: 610 , height:
          814 }) | jpeg %}" alt="portrait" width="610" height="814"
          loading="lazy" decoding="async" aria-hidden="true">
        </picture>
        <div class="cs-info">
          <span class="cs-name">Susanne Stenglein</span>
          <span class="cs-job"
            >Psychologin M.Sc. & Systemische Coachin, Yogalehrerin</span
          >
          <a
            href="https://susannestenglein.de/ueber-mich/"
            class="cs-button-solid"
            target="_blank"
            >Mehr über Susanne</a
          >
        </div>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portrait_kathrin.jpeg" | resize({ width: 576 , height:
          714 }) | avif %}" type="image/avif"> <source media="(max-width:
          600px)" srcset="{% getUrl "/assets/images/portrait_kathrin.jpeg" |
          resize({ width: 576 , height: 714 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portrait_kathrin.jpeg" | resize({ width: 576 , height:
          714 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portrait_kathrin.jpeg" | resize({ width: 1100 ,
          height: 814 }) | avif %}" type="image/avif"> <source
          media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portrait_kathrin.jpeg" | resize({ width: 1100 ,
          height: 814 }) | webp %}" type="image/webp"> <source
          media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portrait_kathrin.jpeg" | resize({ width: 1100 ,
          height: 814 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portrait_kathrin.jpeg" | resize({ width: 610 , height:
          814 }) | avif %}" type="image/avif"> <source media="(min-width:
          1024px)" srcset="{% getUrl "/assets/images/portrait_kathrin.jpeg" |
          resize({ width: 610 , height: 814 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portrait_kathrin.jpeg" | resize({ width: 610 , height:
          814 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl
          "/assets/images/portrait_kathrin.jpeg" | resize({ width: 610 , height:
          814 }) | jpeg %}" alt="portrait" width="610" height="814"
          loading="lazy" decoding="async" aria-hidden="true">
        </picture>
        <div class="cs-info">
          <span class="cs-name">Kathrin Flörl-Korb</span>
          <span class="cs-job">Coachin für Persönlichkeitsentwicklung</span>
          <a
            href="https://www.persoenlichkeitscoaching-stuttgart.de/ueber-mich/"
            class="cs-button-solid"
            target="_blank"
            >Mehr über Kathrin</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-254">
  <div class="cs-container" id="details">
    <div class="cs-content">
      <span class="cs-topper">Die wichtigsten Details</span>
      <h2 class="cs-title">Was ist der FemCircle Stuttgart?</h2>
      <p class="cs-text">
        Der FemCircle Stuttgart ist eine kraftvolle Metapher für Female
        Empowerment. Es geht vor allem darum, deinen Selbstwert zu stärken,
        deine Lebendigkeit zu entfalten und neue Denk-, Fühl- und
        Handlungsspielräume zu entdecken.
      </p>
    </div>
    <div class="cs-content">
      <p class="cs-text">
        Unser Female Empowerment-Workshop ist ein Ort des weiblichen
        Miteinanders, der Persönlichkeitsentwicklung und der Selbstermächtigung.
      </p>
    </div>
    <ul id="list-1405" class="cs-ul">
      <p class="cs-text">
        <strong>Du bist hier genau richtig, wenn du…</strong>
      </p>
      <li class="cs-li">
        <img
          class="cs-icon"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg"
          alt="checkmark"
          width="24"
          height="24"
        />
        dich persönlich weiterentwickeln möchtest,
      </li>
      <li class="cs-li">
        <img
          class="cs-icon"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg"
          alt="checkmark"
          width="24"
          height="24"
        />
        ein erfülltes, gleichberechtigtes und selbstbestimmtes Leben anstrebst,
      </li>
      <li class="cs-li">
        <img
          class="cs-icon"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg"
          alt="checkmark"
          width="24"
          height="24"
        />
        lernen möchtest, dich klar und angemessen abzugrenzen,
      </li>
      <li class="cs-li">
        <img
          class="cs-icon"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg"
          alt="checkmark"
          width="24"
          height="24"
        />
        deine Lebendigkeit befreien möchtest,
      </li>
      <li class="cs-li">
        <img
          class="cs-icon"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg"
          alt="checkmark"
          width="24"
          height="24"
        />
        deine emotionale Selbstermächtigung leben willst,
      </li>
      <li class="cs-li">
        <img
          class="cs-icon"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg"
          alt="checkmark"
          width="24"
          height="24"
        />
        ehrlich, klar und direkt kommunizieren lernen möchtest,
      </li>
      <li class="cs-li">
        <img
          class="cs-icon"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg"
          alt="checkmark"
          width="24"
          height="24"
        />
        einen authentischen Lebensweg gehen möchtest.
      </li>
    </ul>

    <div class="cs-flex-group" id="kontakt">
      <ul class="cs-faq-group">
        <!-- Active class added as default -->
        <li class="cs-faq-item active">
          <button class="cs-button">Termine</button>
          <p class="cs-item-p">
            Wähle das Wochenende, das am besten zu dir passt: 01.03.25 –
            02.03.25, 29.03.25 – 30.03.25, 17.05.25 – 18.05.25, 28.06.25 –
            29.06.25, 12.07.25 – 13.07.25
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">Anmeldung</button>
          <p class="cs-item-p">
            Schreibe uns eine E-Mail an
            <a href="mailto:hello@femcircle.de">hello@femcircle.de</a>
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">Kosten</button>
          <p class="cs-item-p">
            EUR 495,00 - Sollte die Summe für dich schwer aufzubringen sein,
            sprich uns an – wir finden eine Lösung!
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">Zeitlicher Ablauf</button>
          <p class="cs-item-p">
            Samstag: 09:00 – 19:00 Uhr und Sonntag: 09:00 – 16:30 Uhr. Es gibt
            kleine Pausen sowie eine längere Mittagspause (1,5 Stunden).
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">Verpflegung und Ausstattung</button>
          <p class="cs-item-p">
            Kleine Snacks, Wasser und Tee stehen bereit. Yogamatten, Decken,
            Blöcke und Meditationskissen sind vorhanden – du kannst aber auch
            dein eigenes Equipment mitbringen.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">Bitte mitbringen</button>
          <p class="cs-item-p">
            Eine verschließbare Trinkflasche / Hausschuhe oder warme Socken /
            Bequeme Kleidung, in der du dich wohlfühlst / Stifte und ein
            Notizheft
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">Veranstaltungsort</button>
          <p class="cs-item-p">
            Entwicklungsraum Stuttgart, Rosenbergstr. 50/1, 70176 Stuttgart
          </p>
        </li>
      </ul>
      <div class="cs-cta">
        <h3 class="cs-h3">Du hast weitere Fragen?</h3>
        <p class="cs-cta-p">
          Schreib uns eine Mail an
          <a href="mailto:hello@femcircle.de">hello@femcircle.de</a> und wir
          werden uns zeitnah bei dir melden.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Wir freuen uns auf dich!</span>
      <h2 class="cs-title">
        Wir freuen uns darauf, dich im FemCircle Stuttgart willkommen zu heißen
        und gemeinsam mit dir an deiner persönlichen Entfaltung zu arbeiten!
      </h2>
      <h2 class="cs-title">Deine Susanne & Kathrin</h2>
      <a href="mailto:hello@femcircle.de" class="cs-button-solid"
        >Sichere dir jetzt deinen Platz!</a
      >
    </div>
  </div>
</section>

<script>
  const faqItems = Array.from(document.querySelectorAll(".cs-faq-item"));
  for (const item of faqItems) {
    const onClick = () => {
      item.classList.toggle("active");
    };
    item.addEventListener("click", onClick);
  }
</script>

{% endblock%}
